*.png  -text
*.jpg  -text
*.jpeg -text
*.svg  -text
# LFS files
data/cache/simple_cache.mpbr filter=lfs diff=lfs merge=lfs -text
data/covers/**/*.jpg filter=lfs diff=lfs merge=lfs -text
data/covers/**/*.png filter=lfs diff=lfs merge=lfs -text
