name: Emos Utils

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    paths:
      - 'core/**'
      - 'crates/**'

permissions:
  contents: write

env:
  SQLX_OFFLINE: true

jobs:
  run-task:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Release and Strategy
        id: check
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          RUN_BUILD="false"
          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo "Trigger is a push event. Forcing build and release update."
            RUN_BUILD="true"
          else
            echo "Checking for existing release artifact..."
            if gh release download latest -p emos --skip-existing; then
              echo "Artifact downloaded successfully."
            else
              echo "Artifact download failed or release missing. Forcing build."
              RUN_BUILD="true"
            fi
          fi
          echo "run_build=$RUN_BUILD" >> $GITHUB_OUTPUT

      - name: Install Rust toolchain
        if: steps.check.outputs.run_build == 'true'
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        if: steps.check.outputs.run_build == 'true'
        uses: swatinem/rust-cache@v2
        with:
          shared-key: "foreign-tv-cache"

      - name: Gen EnvFile
        run: |
          echo "EMOS_TOKEN=${{ secrets.EMOS_TOKEN }}" >> .env
          echo "EMOS_API_URL=${{ secrets.EMOS_API_URL }}" >> .env
          echo "BANGUMI_ACCESS_TOKEN=${{ secrets.BANGUMI_ACCESS_TOKEN }}" >> .env
          echo "TMDB_ACCESS_TOKEN=${{ secrets.TMDB_ACCESS_TOKEN }}" >> .env

      - name: Build Core
        if: steps.check.outputs.run_build == 'true'
        run: |
          cargo x dist --package emos --strip true
          mv target/dist/emos .

      - name: Update Release
        if: steps.check.outputs.run_build == 'true'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          if gh release view latest > /dev/null 2>&1; then
            echo "Release 'latest' exists. Uploading artifact..."
            gh release upload latest emos --clobber
          else
            echo "Creating release 'latest'..."
            gh release create latest emos --title "Latest Release" --notes "Auto-generated release for caching" --prerelease
          fi

      - name: Run Task
        env:
          WATCH_ID: ${{ secrets.WATCH_ID }}
          DOUBAN_USER_ID: ${{ secrets.DOUBAN_USER_ID }}
        run: |
          chmod +x emos
          ./emos watch_hot_video --watch_id "$WATCH_ID" --douban_user_id "$DOUBAN_USER_ID"
          rm -f .env
