name: Emos Utils

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  run-task:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        uses: swatinem/rust-cache@v2
        with:
          shared-key: "foreign-tv-cache"

      - name: Gen EnvFile
        run: |
          echo "EMOS_TOKEN=${{ secrets.EMOS_TOKEN }}" >> .env
          echo "EMOS_API_URL=${{ secrets.EMOS_API_URL }}" >> .env
          echo "BANGUMI_ACCESS_TOKEN=${{ secrets.BANGUMI_ACCESS_TOKEN }}" >> .env
          echo "TMDB_ACCESS_TOKEN=${{ secrets.TMDB_ACCESS_TOKEN }}" >> .env

      - name: Build and Run
        env:
          WATCH_ID: ${{ secrets.WATCH_ID }}
          DOUBAN_USER_ID: ${{ secrets.DOUBAN_USER_ID }}
        run: |
          cargo run --release -- watch_foreign_tv --watch_id "$WATCH_ID" --douban_user_id "$DOUBAN_USER_ID"
          rm .env
