name: Emos Utils

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  run-task:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Release and Strategy
        id: check
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          RUN_BUILD="false"
          if [[ "${{ github.event_name }}" == "push" && "${{ github.ref_type }}" == "tag" ]]; then
            echo "Trigger is a tag push. Forcing build."
            RUN_BUILD="true"
          else
            echo "Checking for existing release artifact..."
            if gh release download latest -p core --skip-existing; then
              echo "Artifact downloaded successfully."
            else
              echo "Artifact download failed or release missing. Forcing build."
              RUN_BUILD="true"
            fi
          fi
          echo "run_build=$RUN_BUILD" >> $GITHUB_OUTPUT

      - name: Install Rust toolchain
        if: steps.check.outputs.run_build == 'true'
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        if: steps.check.outputs.run_build == 'true'
        uses: swatinem/rust-cache@v2
        with:
          shared-key: "foreign-tv-cache"

      - name: Build Core
        if: steps.check.outputs.run_build == 'true'
        run: |
          cargo build --release -p core
          mv target/release/core ./core

      - name: Update Release
        if: steps.check.outputs.run_build == 'true'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          if gh release view latest > /dev/null 2>&1; then
            echo "Release 'latest' exists. Uploading artifact..."
            gh release upload latest core --clobber
          else
            echo "Creating release 'latest'..."
            gh release create latest core --title "Latest Release" --notes "Auto-generated release for caching" --prerelease
          fi

      - name: Gen EnvFile
        run: |
          echo "EMOS_TOKEN=${{ secrets.EMOS_TOKEN }}" >> .env
          echo "EMOS_API_URL=${{ secrets.EMOS_API_URL }}" >> .env
          echo "BANGUMI_ACCESS_TOKEN=${{ secrets.BANGUMI_ACCESS_TOKEN }}" >> .env
          echo "TMDB_ACCESS_TOKEN=${{ secrets.TMDB_ACCESS_TOKEN }}" >> .env

      - name: Run Task
        env:
          WATCH_ID: ${{ secrets.WATCH_ID }}
          DOUBAN_USER_ID: ${{ secrets.DOUBAN_USER_ID }}
        run: |
          chmod +x core
          ./core watch_foreign_tv --watch_id "$WATCH_ID" --douban_user_id "$DOUBAN_USER_ID"
          rm .env
