name: upload-r2.yml
on:
  workflow_dispatch:
  push:
    paths:
      - 'data/*.json'

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Upload to R2
        uses: bxb100/action-upload@main
        with:
          provider: s3
          provider_options: |
            root=/
            bucket=emos
            region=auto
            endpoint=https://${{secrets.CLOUDFLARE_R2_ACCOUNTID}}.r2.cloudflarestorage.com
            access_key_id=${{secrets.CLOUDFLARE_R2_KEY}}
            secret_access_key=${{secrets.CLOUDFLARE_R2_SECRET}}
          include: 'data/*.json'
